
<div class="container width-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="/home-admin" >AdminPanel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <ng-container *ngFor="let li of nav; let i = index">
                <li [ngClass]="i == 0 ? 'nav-item active' : 'nav-item'"><a routerLink="{{li.href}}" class="nav-link" routerLinkActive="active">{{li.text}}</a></li>
            </ng-container>
          </ul>
        </div>
      </nav>
    <router-outlet></router-outlet>
    <footer>
        <div class="container-fluid">
            
                <div class="row">
                    <div class="col-12 text-center">
                        <p class="font-weight-bold">Copyright &copy; Portal | Bookstore</p>
                    </div>
                </div>
            
        </div>
        <script type="text/javascript" src="js/main.js"></script>
    </footer>
    
</div>
     