table {
    width: 100%;
  }

.custom-td {
    text-align: center; /* Adjust text alignment */
}

.custom-th {
  text-align: center; /* Adjust text alignment */
}

.image{
   width:15%;
   margin:3% 0;
}

.emptyMargin{
  margin:0 0 20% 0;
}

.cartMargin{
  margin:5% 0;
}

.quantityW{
  width:50px;
}


.buttonCart{
  padding:10px 20px;
  background-color: #78290f;;
  color:white;
  font-weight: bold;
  border: 2px outset #78290f;
  
}

.marginContainer{
  margin:2% 0;
}

.editButton{
  padding:5px 10px;
  background-color: blue;
  color: white;
  font-weight: bold;
  
}

.deleteButton{
  padding:5px 10px;

  color: white;
  font-weight: bold;
  
}