<div class="container mb-5 text-center">
    <h1 class="title">About the author</h1>
    <div class="row mt-4">
      <div class="col-12  col-xl-6 image">
       <img src="../../assets/img/AND_0643.JPG"/>
      </div>
      <div class="col-12 col-xl-6">
         <div class="about py-5">
            <p>My name is Anica Radenković.</p>
            <p>I was born on February 14th 2002. </p>
            <p>I am a student of College of Information and Communication Technologies where my major is Web programming. </p>
            <p>At first i that i was going to be a front-end developer but now i find back-end more appealing. </p>
            <p>I finished high school as a Tourism technician, so I had to start my studies from the beginning. It was difficult, but I found myself in it and I continue to do so</p>
         </div>
      </div>
    </div>
</div>
