<div class="container mb-3">
    <div class="row">
    
        <div class="col-12 text-center  margin">
            <h1 class="mb-5">Register</h1>
            <form  [formGroup]="registerForm" >
                <div class="row">
                   
                        <div class="col-12">
                            <p>
                                <mat-form-field  >
                                  <mat-label>Username</mat-label>
                                  <input matInput formControlName="username"/>
                                  <mat-error>
                                    <ng-container *ngIf="registerForm.get('username')?.hasError('required')">
                                        The field is required.
                                    </ng-container>
                                    <ng-container *ngIf="registerForm.get('username')?.hasError('pattern')">
                                        Username should start with an alphabet. All other characters can be alphabets, numbers or an underscore. Length from 7-29 characters
                                    </ng-container>
                                  </mat-error>
                                </mat-form-field>
                              </p>
                        </div>
                        <div class="col-12">
                            <p>
                                <mat-form-field  >
                                  <mat-label>First name</mat-label>
                                  <input matInput formControlName="firstName"/>
                                  <mat-error>
                                    <ng-container *ngIf="registerForm.get('firstName')?.hasError('required')">
                                        The field is required.
                                    </ng-container>
                                    <ng-container *ngIf="registerForm.get('firstName')?.hasError('pattern')">
                                       First name should start with an alphabet. All other characters must be alphabet
                                    </ng-container>
                                  </mat-error>
                                </mat-form-field>
                              </p>
                        </div>
                        <div class="col-12">
                            <p>
                                <mat-form-field  >
                                  <mat-label>Last name</mat-label>
                                  <input matInput formControlName="lastName"/>
                                  <mat-error>
                                    <ng-container *ngIf="registerForm.get('lastName')?.hasError('required')">
                                        The field is required.
                                    </ng-container>
                                    <ng-container *ngIf="registerForm.get('username')?.hasError('pattern')">
                                        Last name should start with an alphabet. All other characters must be alphabet
                                    </ng-container>
                                  </mat-error>
                                </mat-form-field>
                              </p>
                        </div>
                        <div class="col-12">
                        <p>
                            <mat-form-field  >
                              <mat-label>Email</mat-label>
                              <input matInput formControlName="email"/>
                              <mat-error>
                                <ng-container *ngIf="registerForm.get('email')?.hasError('required')">
                                    The field is required.
                                </ng-container>
                                <ng-container *ngIf="registerForm.get('email')?.hasError('email')">
                                    Email is not in valid format.
                                </ng-container>
                              </mat-error>
                            </mat-form-field>
                          </p>
                    </div>
                    <div class="col-12">
                        <p>
                            <mat-form-field >
                              <mat-label>Password</mat-label>
                              <input matInput formControlName="password" type="password"/>
                              <mat-error>
                                <ng-container *ngIf="registerForm.get('password')?.hasError('required')">
                                    The field is required.
                                </ng-container>
                                <ng-container *ngIf="registerForm.get('password')?.hasError('minlength')">
                                    Minimum length for password is 8 characters
                                </ng-container>
                              </mat-error>
                            </mat-form-field>
                          </p>
                    </div>
                </div>
               
                <div class="col-12 mt-5">
                    <button mat-raised-button color="warn" (click)="checkForm()" [disabled]="registerForm.invalid">Submit</button>
                </div>

            </form>
        </div>
    </div>

</div>

